body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(255, 242, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

.btn {
    background-color: rgb(99, 43, 104);
    color: white;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgb(39, 207, 207);
    color: black;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}